<title>Order List</title>
<header>
    <p style="text-align:center; background-color:lightgray "><img style="width: 300; height: 300;" src="/media/logo.png"/></p>
</header>
<ul>
<h2>
<a href="http://localhost:8000/contactus/">[Contact Us]</a>
<a>     Status Payment : </a>
<a href="http://localhost:8000/waitingpayment/">Waiting Payment</a>
<a> / </a>
<a href="http://localhost:8000/paid/">Paid</a>
<a> / </a>
<a href="http://localhost:8000/reportpayment/">Report Payment</a>
<a> / </a>
<a href="http://localhost:8000/close/">Close</a>
<a> / </a>
<a href="http://localhost:8000/">Show All</a>
</h2>
    {% for order in order_list %}
    <!-- {{order}} -->
    <hr>
	<div class="row">
        			{% if order.status_payment == "1" %} 	
        				<h1> Order ID : 
        					<a  href="http://localhost:8000/{{ order.id }}/">{{ order.id }}</a>
        				<div>
							<a> Status Payment :  </a>
							<a style="color:green"> <th>Waiting Payment</th> </a>
						</div>
						</h1>
					{% endif %}
	</div>
    {% endfor %}
    <hr>
</ul>
